apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-catalogue
  namespace: product-catalogue
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: product-catalogue
  template:
    metadata:
      labels:
        app: product-catalogue
    spec:
      initContainers:
        - name: migrate
          image: keroh45/product-catalogue:latest
          command: ["python", "manage.py", "migrate"]
          envFrom:
            - secretRef:
                name: product-catalogue-secret
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
      containers:
        - name: product-catalogue
          image: keroh45/product-catalogue:latest
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: product-catalogue-secret
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
