name: CI/CD Pipeline

on:
  push:
    branches: [main, feature/**]
  pull_request:
    branches: [main]

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/product-catalogue
  PYTHON_VERSION: '3.12'

jobs:

  #STEP 1: Unit Tests
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          CI: "true"
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          SECRET_KEY: test-secret-key
          DATABASE_URL: postgres://test_user:test_password@localhost:5432/test_db
        run: |
          pytest --cov=catalogue --cov-report=xml --cov-report=term

  # STEP 2: Linter
  linter:
    name: Linter (Flake8)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      
      - name: Install flake8
        run: pip install flake8
      
      - name: Run Flake8
        run: flake8 catalogue/ config/

  # STEP 3: Style Check
  style-check:
    name: Style Check (Black)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      
      - name: Install black
        run: pip install black
      
      - name: Run Black
        run: black --check catalogue/ config/

  # STEP 4: SAST (Security Scanning)
  sast:
    name: SAST - Security Scan (Bandit)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      
      - name: Install security tools
        run: |
          pip install bandit safety
      
      - name: Run Bandit (Python Security)
        run: bandit -r catalogue/ -f json -o bandit-report.json
        continue-on-error: true
      
      - name: Run Safety (Dependency Check)
        run: safety check --json
        continue-on-error: true
      
      - name: Upload Bandit Report
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report
          path: bandit-report.json

  # STEP 5: Build Docker Image
  build-docker:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs : [unit-tests, linter, style-check, sast]
    steps:
      - uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build Docker image
        run: |
          docker build -t ${{ env.DOCKER_IMAGE }}:${{ github.sha }} .
          docker tag ${{ env.DOCKER_IMAGE }}:${{ github.sha }} ${{ env.DOCKER_IMAGE }}:latest
      
      - name: Save Docker image
        run: docker save ${{ env.DOCKER_IMAGE }}:${{ github.sha }} -o image.tar
      
      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

      - name: Debug DOCKER_IMAGE
        run: |
          echo "DOCKER_IMAGE='${{ env.DOCKER_IMAGE }}'"

  # STEP 6: Scan vulnerabilities
  scan-vulnerabilities:
    name: Scan Docker Image (Trivy)
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image
      
      - name: Load Docker image
        run: docker load -i image.tar
      
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'
